@model Libreria_MVC.Models.AltaPedidoViewModel

<h2>Crear Nuevo Pedido</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="IdClienteSeleccionado" class="control-label">Cliente</label>
                <select asp-for="IdClienteSeleccionado" class="form-control">
                    @foreach (var cliente in Model.Clientes)
                    {
                        <option value="@cliente.Id">@cliente.RazonSocial</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label asp-for="CodigoArticuloSeleccionado" class="control-label">Articulo</label>
                <select asp-for="CodigoArticuloSeleccionado" class="form-control">
                    @foreach (var articulo in Model.Articulos)
                    {
                        <option value="@articulo.Codigo">@articulo.Nombre</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="CantidadSeleccionada" class="control-label">Cantidad</label>
                <input asp-for="CantidadSeleccionada" class="form-control" />
                <span asp-validation-for="CantidadSeleccionada" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Agregar a Pedido" class="btn btn-primary" />
            </div>

            <div class="form-group">
                <label asp-for="TipoPedido" class="control-label">Tipo de Pedido</label>
                <select asp-for="TipoPedido" class="form-control">
                    <option value="Comun">Comun</option>
                    <option value="Express">Express</option>
                </select>
                <span asp-validation-for="TipoPedido" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FechaEntregaPrometida" class="control-label">Fecha de Entrega Prometida</label>
                <input asp-for="FechaEntregaPrometida" class="form-control" />
                <span asp-validation-for="FechaEntregaPrometida" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


    


   
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}